*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    height: 80px;
    width: 100%;
    background-color: rgb(243, 154, 10);

}
.logo{
    height: 80px;
    width: 80px;
    
}